{% extends "misc_page.html" %}
{% block content %}
{#    <p>{{ rp.get_ads_count }}</p>#}
{#    {% for ad in rp.paginator %}#}
{#        <div class="snip">#}
{#            <div style="float: left; padding-right: 11px">{{ ad.pk }}</div>#}
{#            <div class="title">{{ ad.title }}</div>#}
{#        </div>#}
{#    {% endfor %}#}
    <div>{{ lp.place.name }}</div>
    <div>{{ lp.place.slug }}</div>

    <div>{{ lp.get_ads }}</div>
    <div>{{ lp.get_ads_count }}</div>
    <div>{{ lp.href }}</div>


{#    {% if rp.paginator.has_other_pages %}#}
{#        {% include "inc-pagination.html" with page=rp.paginator %}#}
{#    {% endif %}#}
{% endblock %}