{% extends "misc_page.html" %}
{% block title %}{{ ad.title }}{% endblock %}
{% block content %}
    <div>{{ ad.path }}</div>
    <div>{{ ad.title }}</div>
    <div>{{ ad.desc }}</div>
    <div>{{ ad.traits }}</div>
    <div>
        {{ ad.photos.all }}
        {% for photo in ad.photos.all %}
            {{ photo.get_absolute_url }}
        {% endfor %}
    </div>
    <div>{{ ad.price }}</div>
    <div>{{ ad.hide_price }}</div>
    <div>{{ ad.place }}</div>
    <div>{{ ad.places }}</div>
    <div>{{ ad.rooms_bed }}</div>
    <div>{{ ad.rooms_bath }}</div>
    <div>
        {{ ad.object_type.name }}
        {{ ad.object_type.slug }}
    </div>
{% endblock %}