{% extends "misc_page.html" %}
{% block title %}{{ sp.title }}{% endblock %}
{% block content %}
    <div>{{ sp.path }}</div>
    <div>{{ sp.title }}</div>
    <div>{{ sp.desc }}</div>
    <div>{{ sp.traits }}</div>
    <div>{{ sp.photos.all }}</div>
    <div>{{ sp.price }}</div>
    <div>{{ sp.hide_price }}</div>
    <div>{{ sp.place }}</div>
    <div>{{ sp.places }}</div>
    <div>{{ sp.rooms_bed }}</div>
    <div>{{ sp.rooms_bath }}</div>
    <div>
        {{ sp.object_type.name }}
        {{ sp.object_type.slug }}
    </div>
{% endblock %}